/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #a8a8a8 #333333;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0px;
  }

  *::-webkit-scrollbar-track {
    background: #333333;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 7px;
    border: 0px solid #ffffff;
  }